{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<h1>
    <h1 style="color:blue;" align="center" >Results!</h1>
</h1>

<table align="center">
    <br></br>
    <br></br>
    <tr>
        <th>Name</th>
        <th>&nbsp&nbsp----------&nbsp&nbsp</th>
        <th>Surname</th>
    </tr>
    <tr>
        <th>&nbsp</th>
    </tr>
    {% for lotteryplayer in query_results %}
        {% if forloop.counter == 1 %}
            <tr align="center" style="color:red;">
                <td>{{ lotteryplayer.firstname }}</td>
                <td>&nbsp&nbsp----------&nbsp&nbsp</td>
                <td>{{ lotteryplayer.lastname }}</td>
            </tr>
        {% else %}
            <tr align="center">
                <td>{{ lotteryplayer.firstname }}</td>
                <td>&nbsp&nbsp----------&nbsp&nbsp</td>
                <td>{{ lotteryplayer.lastname }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
